.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("../img/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
}

/* :checked pseudoclasse
   ~ combinador css 
   se o conteiner botao tiver checked, ele procura o item lista-menu que vem depois dele */
.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu {
    /* desaparece e não ocupa espaço */
    display: none;
    position: absolute;
    top: 100%;
}

.cabecalho__container__imagem {
    padding: 1em;
}